@using MigrationTool.ViewModels
@model IEnumerable<HypervisorGroupListIndexViewModel>

@{
    ViewBag.Title = MigrationTool.Strings.IndexAction;
}

@Html.Partial("_Breadcrumb", new Breadcrumb(MigrationTool.Strings.HypervisorGroupPlural))

<h2>@string.Format(MigrationTool.Strings.IndexOf_P0, MigrationTool.Strings.HypervisorGroupPlural)</h2>

@using (Ajax.BeginForm("FilterIndex", "HypervisorGroup", new AjaxOptions 
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "HypervisorGroupList",
    LoadingElementId = "HypervisorGroupLoader",
    OnBegin = "$(\"#HypervisorGroupLoader .spinner\").spin();",
    OnComplete = "$(\"#HypervisorGroupLoader .spinner\").spin(false);"
})) 
{
    @Html.Partial("_StandardFilter")
}

<p></p>
@if (User.IsInRole(MigrationTool.Roles.Edit) || User.IsInRole(MigrationTool.Roles.Admin))
{
    @Html.ActionLink(MigrationTool.Strings.CreateNew, "Create", null, new { @class = "btn btn-default" })
    <p></p>
}
@Html.Partial("_Loader", "HypervisorGroupLoader")
<div id="HypervisorGroupList">
    @Html.Partial("_ListIndex", Model)
    @if (Model == null)
    {
        @Html.Partial("_SearchFirst")
    }
</div>