@model MigrationTool.Models.DataStore
@using MigrationTool.ViewModels;

@{
    ViewBag.Title = MigrationTool.Strings.CreateAction;
}

<!-- Header and breadcrumbs -->
@Html.Partial("_Breadcrumb", new Breadcrumb(ViewBag.Title, new BreadcrumbItem { LinkText = MigrationTool.Strings.DataStorePlural, ControllerName = "DataStore" }))

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- Name -->
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <!-- Data  Store Group -->
    <div class="form-group">
        @Html.LabelFor(model => model.DataStoreGroup_Id, MigrationTool.Strings.DataStoreGroup)
        @Html.DropDownList(MigrationTool.Strings.DataStoreGroup_Id, (SelectList)ViewBag.DataStoreGroup_Id_Select, string.Empty, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DataStoreGroup_Id)
    </div>

    <!-- DataStore Category -->
    <div class="form-group">
        @Html.LabelFor(model => model.DataStoreCategory_Id, MigrationTool.Strings.DataStoreCategory)
        @Html.DropDownList(MigrationTool.Strings.DataStoreCategory_Id, (SelectList)ViewBag.DataStoreCategory_Id_Select, string.Empty, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DataStoreCategory_Id)
    </div>

    <!-- Local Storage -->
    <div class="form-group">
        @Html.EditorFor(model => model.LocalStorage)
        @Html.ValidationMessageFor(model => model.LocalStorage)
    </div>

    <!-- Capacity -->
    <div class="form-group">
        @Html.LabelFor(model => model.Capacity)
        @Html.EditorFor(model => model.Capacity)
        @Html.ValidationMessageFor(model => model.Capacity)
    </div>

    <!-- Free Space -->
    <div class="form-group">
        @Html.LabelFor(model => model.FreeSpace)
        @Html.EditorFor(model => model.FreeSpace)
        @Html.ValidationMessageFor(model => model.FreeSpace)
    </div>
    
    <button type="submit" class="btn btn-primary">@MigrationTool.Strings.CreateAction</button>
    @Html.ActionLink(MigrationTool.Strings.Cancel, "Index", null, new { @class = "btn btn-default" })
}
